@using IMAR_DialogoOperatore.ViewModels

@inject AvanzamentoAttivitaViewModel AvanzamentoAttivitaViewModel

<DxGridLayout style="height:100%;
					 font-size:1.668vh;">
	<Rows>
		<DxGridLayoutRow />
		<DxGridLayoutRow />
		<DxGridLayoutRow />
		<DxGridLayoutRow />
	</Rows>
	<Columns>
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
		<DxGridLayoutColumn />
	</Columns>

	<Items>
		<DxGridLayoutItem Row="1"
						  Column="0" ColumnSpan="2">
			<Template>
				<div style="height:100% !important"
					 class="d-flex justify-content-center align-items-center">
					<label>Qt. PRODOTTA</label>
				</div>
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="1"
						  Column="3" ColumnSpan="2">
			<Template>
				<div style="height:100% !important"
					 class="d-flex justify-content-center align-items-center">
					<label>Qt. SCARTATA</label>
				</div>
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="1"
						  Column="6" ColumnSpan="2">
			<Template>
				<div style="height:100% !important"
					 class="d-flex justify-content-center align-items-center">
					FASE COMPLETATA
				</div>
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="2"
						  Column="0" ColumnSpan="2">
			<Template>
				<DxTextBox @bind-Text="@(AvanzamentoAttivitaViewModel.QuantitaProdotta)"
						   style="margin-bottom:5px;
								  --dxbl-text-edit-padding-x: 0.35vw;
								  --dxbl-text-edit-padding-y: 0vh;
								  --dxbl-text-edit-font-size: 1.668vh;" />
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="2"
						  Column="3" ColumnSpan="2">
			<Template>
				<DxTextBox @bind-Text="@(AvanzamentoAttivitaViewModel.QuantitaScartata)"
						   style="margin-bottom:5px;
								  --dxbl-text-edit-padding-x: 0.35vw;
								  --dxbl-text-edit-padding-y: 0vh;
								  --dxbl-text-edit-font-size: 1.668vh;" />
			</Template>
		</DxGridLayoutItem>

		<DxGridLayoutItem Row="2"
						  Column="6" ColumnSpan="2">
			<Template>
				<DxCheckBox CheckType="CheckType.Switch"
							@bind-Checked="@AvanzamentoAttivitaViewModel.IsFaseCompletabile"
							Alignment="CheckBoxContentAlignment.Center"
							SizeMode="SizeMode.Large" />
			</Template>
		</DxGridLayoutItem>
	</Items>
</DxGridLayout>

@code {
	protected override Task OnInitializedAsync()
	{
		AvanzamentoAttivitaViewModel.NotifyStateChanged += AvanzamentoAttivitaViewModel_NotifyStateChanged;

		return base.OnInitializedAsync();
	}

	private async void AvanzamentoAttivitaViewModel_NotifyStateChanged()
	{
		await InvokeAsync(StateHasChanged);
	}
}
