.icon {
    background-size: contain;
    background-position: center center;
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 55%;
    width: 100%;
}

.icon-search {
    background-image: url("../images/icons/search.svg");
}
