.icon {
    background-size: contain;
    background-position: center center;
    background-color: currentColor;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-position: center center;
}

.verde {
    color: green;
}

.rosso {
    color: darkred;
}

.arancione {
    color: peru;
}

.giallo {
    color: gold;
}

.lime {
    color: limegreen;
}

.blu {
    color: dodgerblue;
}

.grigioBlu {
    color: royalblue;
}

.icon-sendWarning {
    width: 28px;
    height: 24px;
    mask: url('/images/icons/sendWarning.svg') no-repeat center;
    -webkit-mask: url('/images/icons/sendWarning.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-timer {
    width: 28px;
    height:24px;
    mask: url('/images/icons/timer.svg') no-repeat center;
    -webkit-mask: url('/images/icons/timer.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-lucchettoAperto {
    width: 17px;
    height: 16px;
    mask: url('/images/icons/lucchettoAperto.svg') no-repeat center;
    -webkit-mask: url('/images/icons/lucchettoAperto.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-lucchettoChiuso {
    width: 17px;
    height: 16px;
    mask: url('/images/icons/lucchettoChiuso.svg') no-repeat center;
    -webkit-mask: url('/images/icons/lucchettoChiuso.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-login {
    width: 50px;
    height: 60px;
    mask: url('/images/icons/login.svg') no-repeat center;
    -webkit-mask: url('/images/icons/login.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-logout {
    width: 50px;
    height: 60px;
    mask: url('/images/icons/logout.svg') no-repeat center;
    -webkit-mask: url('/images/icons/logout.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-coffee {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/coffee.svg') no-repeat center;
    -webkit-mask: url('/images/icons/coffee.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-coffeeEmpty {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/coffeeEmpty.svg') no-repeat center;
    -webkit-mask: url('/images/icons/coffeeEmpty.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-cancel {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/cancel.svg') no-repeat center;
    -webkit-mask: url('/images/icons/cancel.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-wrenchAdd {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/wrenchAdd.svg') no-repeat center;
    -webkit-mask: url('/images/icons/wrenchAdd.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-wrenchDone {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/wrenchDone.svg') no-repeat center;
    -webkit-mask: url('/images/icons/wrenchDone.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-hammerAdd {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/hammerAdd.svg') no-repeat center;
    -webkit-mask: url('/images/icons/hammerAdd.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-hammerDone {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/hammerDone.svg') no-repeat center;
    -webkit-mask: url('/images/icons/hammerDone.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.icon-advance {
    width: 55px;
    height: 55px;
    mask: url('/images/icons/advance.svg') no-repeat center;
    -webkit-mask: url('/images/icons/advance.svg') no-repeat center;
    mask-size: 100% 100%;
    background-color: currentColor;
}

.conferma-dettagli {
    min-width: 4dvw !important;
    height: 2dvh !important;
    margin-left: 3px;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    font-size: 1.668dvh !important;
}

.testo-piccolo {
    font-size: 1.668dvh !important;
}

.testo-medio {
    font-size: 2dvh !important;
}

.testo-grande {
    font-size: 2.5dvh !important;
}

.testo-piu-grande {
    font-size: 3dvh !important;
}

.h-100 {
    height: 100% !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

mt-2 {
    margin-top: 3dvh !important;
}

.bottoniera-inferiore {
    margin-right: 5px !important;
    height: 9vW !important;
    width: 9vw !important;
    background-color: #2d2d2d !important;
    border-width: 4px;
}

    .bottoniera-inferiore:disabled {
        background-color: #3d3d3d !important;
        color: #5f5f5f !important;
        border-color: #5f5f5f !important;
    }